
/*.dialog{
color: blue;
  margin-top: 20px;
  margin-left: 20px;
}*/
.dialog {
  font: 1em/1.5 sans-serif;
  color: #fff;
  width: 50%;
  min-height: 40px;
  min-width: 100px;
  margin: 50px auto;
  padding: 6px;
  background: #adff2f;
  background-clip: padding-box;
  border: 6px double #860;
  border-radius: 44px;
}
.dialog:hover {
  border-image: none;
}
/*a { color: #ff6; }*/

.dialogsItem{
  flex: 1;
}
/*.dialogsItem .active{
  color: gold;
}*/
.messages{
flex: 2;
}
/*.message{
  color: red;
  margin-top: 20px;
  border: darkred 2px double ;
  border-radius: 50%;
  text-align: center;
}*/
.message {
  font: 1em/1.5 sans-serif;
  color: #fff;
  width: auto;
  min-height: 40px;
  min-width: 100px;
  margin: 50px auto;
  padding: 16px;
  background: #adff2f;
  background-clip: padding-box;
  border: 6px double #860;
  border-image-source: url(http://usabili.ru/news_imgs/151/border7.png);
  border-image-slice: 120 100 140 fill;
  border-image-repeat: repeat stretch;
  border-image-width: 120px 100px 140px; /* можно просто auto, эффект будет тот же */
  border-image-outset: 36px 30px 58px 28px;
  /*
  или сокращенно:
  border-image: url(http://usabili.ru/news_imgs/151/border7.png) 120 100 140 fill / auto / 36px 30px 58px 28px repeat stretch
  */
  border-radius: 44px;
}
/*.message:hover {
  border-image: none;
}*/
.paint{
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin: 0 10px 0 0;
  text-align: center;
}