.content {

}

.fond img {
  width: 100%;
  height: 200px;
}

.avatar img {
  width: 200px;
  height: 200px;
  border: 1px solid;
}

.profile {
  display: flex;
  align-items: center;
  margin-top: 20px;

}

.description {
  margin-left: 50px;
  line-height: 1.8;
}

.name {
  font-size: 18px;
  font-weight: bold;
}


.btn .btn-primary .btn-px {
  color: #093b79;
  margin-top: 10px;
  background-color: #adff2f;
  border-color: greenyellow;
}
.btn .btn-primary .btn-px:hover {
  color: #093b79;
  background-color: #adff2f;
  border-color: #adff2f;
  font-weight: 500;
}
.btn .btn-primary .btn-px:active {
  color: #093b79;
  background-color: #adff2f;
}

