.content {
  margin-left: 10px;
  width: 100%;
}

.fond img {
  width: 100%;
  height: 200px;
}

.avatar img {
  width: 200px;
  height: 200px;
  border: 1px solid;
}

.profile {
  display: flex;
  align-items: center;
  margin-top: 20px;

}

.description {
  margin-left: 50px;
  line-height: 1.8;
}

.name, .post_title {
  font-size: 18px;
  font-weight: bold;
}

.posts {
  margin-top: 20px;
}

.btn-primary {
  color: #093b79;
  margin-top: 10px;
  background-color: #adff2f;
  border-color: greenyellow;
}
.btn-primary:hover {
  color: #093b79;
  background-color: #adff2f;
  border-color: #adff2f;
  font-weight: 500;
}
.btn-primary:active {
  color: #093b79;
  background-color: #adff2f;
}

.list {
  display: flex;
  margin-top: 20px;
}

.paint {
  /*border: 1px solid ;*/
  border-radius: 50%;
  /*background-color: #4464cf;*/
  width: 30px;
  height: 30px;
  margin: 0px 10px 0 0;
  text-align: center;
}
